* {
  box-sizing: border-box;
}

/* header, nav, main, footer { display: block; } */

body {
  color: #221811;
  font-family: Tahoma, Arial, sans-serif;
  margin: 0;
  background-color: #D2B48C;
  /* background-image: url(../images/windingroad.jpg); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
}

header {
  color: #8C3826;
  background-color: #D2B48C;
  background-image: url(../images/javajammini.jpg);
  background-repeat: no-repeat;
  padding-top: 5px;
  padding-left: 105px;
  /* padding-bottom: 5px; */
  height: 128px;
}

header a {
  text-decoration: none;
}

header a:link {
  color: #231814;
}

header a:visited {
  color: #231814;
}

header a:hover {
  color:#FEF6C2;
}

main {
  padding: 0;
  /* margin-left: 200px; */
  background-color: #FEF6C2;
  display: block;
  /* overflow: auto; */
}

h1 {
  font-size: 2em;
  margin: 0;
  /* text-indent: 100%; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

h2 {
  color: #8C3826;
}

h3 {
  color: #8C3826;
}

h4 {
  background-color: #D2B48C;
  font-size: 1.2em;
  padding-left: .5em;
  padding-bottom: 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #221811;
  clear: left;
}

dt {
  color: #8C3826;
}

nav {
  text-align: center;
  /* font-weight: bold;
  width: 100%; */
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #FEF6C2;
}

nav a:visited {
  color: #D2B48C
}

nav a:hover {
  color:#CC9933;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

nav li {
  padding: .5em 1em;
  width: 100%;
  border-bottom: 1px solid #D2B48C;
}


main h2, h3, h4, p, ul, div, dl, dt {
  padding-left: 1em;
  padding-right: 1em;
}

main ul {
  padding-left: 2em;
}

footer {
  background-color: #D2B48C;
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding: 1em;
  border-top: 2px solid #8C3826;
}

#wrapper {
  /* width: 80%; */
  /* min-width: 900px; */
  /* max-width: 1280px; */
  background-color: #231814;
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* box-shadow: 5px 5px 5px #232323; */
  padding: 0;
}

#invisibleicon {
  content: url(../images/coffee-cup.png);
  width: 100%;
  height: 300px;
  padding: 0;
  background-size: 100%;
}

#homehero {
  content: url(../images/heroroad.jpg);
  width: 100%;
  height: 300px;
  padding: 0;
  background-size: 100%;
}

#heromugs {
  content: url(../images/heromugs.jpg);
  width: 100%;
  padding: 0;
  height: 300px;
  background-size: 100%;
}

#heroguitar {
  content: url(../images/heroguitar.jpg);
  width: 100%;
  height: 300px;
  padding: 0;
  background-size: 100%;
}

.details {
  padding-left: 20%;
  padding-right: 20%;
  overflow: auto;
}

#mobile {
  display: inline;
}

#desktop {
  display: none;
}

/* .floatleft {
  float: left;
  padding-bottom: 2em;
  padding-right: 2em;
}

.onethird {
  float: left;
  width: 33%;
} */

table {
  width: 90%;
  margin: auto;
  border-spacing: 0px;
}

td {
  padding: 10px;
}

tr:nth-of-type(odd) {
  background-color: #D2B48E;
}


@media (min-width: 600px) {
  header {
    text-align: center;
    padding-left: 0px;
  }

  h1 {
    font-size: 3em;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  nav li {
    border-bottom: none;
  }

  #homehero {
    content: url(../images/hero.jpg);
    height: 50vh;
  }

  #heromugs {
    content: url(../images/heromugs.jpg);
  }

  #heroguitar {
    content: url(../images/heroguitar.jpg);
  }

  #flow {
    display: flex;
    flex-direction: row;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: inline;
  }

  .details {
    display: flex;
    flex-direction: row;
  }

  h4 {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 1024px) {
  header {
    grid-area: header;
    background-image: url(../images/javajamlogo.jpg);
    
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }

  #wrapper {
    display: grid;
    grid-template: "header header" 
      "nav main" 
      "footer footer"
       / 200px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }
}